.PageNotFoundWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    overflow-x: hidden;
}

.pageNotFoundImg{
    height: 300px;
    width: 300px;
}